li.dev-item {
    background: #FFF;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 4px;
    padding: 20px;
}

li.dev-item header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

li.dev-item header img {
    width: 54px;
    height: 52px;
    border-radius: 50%;
    grid-area: img;
}

li.dev-item header .inside-block .user-info {
    margin-left: 10px;
}

.inside-block {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas: "img user-info icons";
}
  
.user-info {
grid-area: user-info;
}

.user-info strong {
    display: block;
    font-size: 16px;
    color: #333;
}

.user-info span {
    font-size: 13px;
    color: #999;
    margin-top: 2px;
}

.icons {
    display: flex;
    flex-direction: row;
    grid-area: icons;
}

.icons button { /* Edit and remove buttons */
    border: 0;
    border-radius: 50%;
    color: #666;
    width: 30px;
    height: 30px;
    margin: 0 2px;
    transition: background 0.1s;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #5A2EA6;
    color: #FFF;
  }
  
.remove-button:hover {
    background-color: #d63031;
    color: #FFF;
}

li.dev-item p {
    color: #666;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
}

li.dev-item a {
    color: #8e4dff;
    font-size: 14px;
    text-decoration: none;
    transition: color .2s;
}

li.dev-item a:hover {
    color: #5a2ea6;
}